body {
    font-family: 'Ivy';
    color: var( --color-text);
    margin: 0; 
}


/* GROTE SCHERMEN */


@media (min-width: 1020px) {
    
    
header img:last-of-type { 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1000;
    top: 0;
}

@media (prefers-color-scheme: dark) {
    header img:last-of-type {
        filter: brightness(0.9); 
    }
    main section:nth-of-type(6) {
        filter: brightness(0.9); 
    }
}


header {
    display: flex;
}

.visually-hiddenlogo {
    display: block;
}


nav img {
    width: 4em;
    padding-left: 2em;
}

/* main */
main section:first-of-type article:nth-of-type(1)  a img {
    width: 90%;
    z-index: 1000;
    order: 0;
   
}
    
  
}

main section:first-of-type article:nth-of-type(1)  a {
   width: 90%;
   position: relative;
}

main section:nth-of-type(1) article:nth-of-type(1) h2 {
    margin-left: .7em;
    font-size: 3em;
    font-family: "IvyBold", sans-serif;
    margin-top: 2em;
    order: 1;
    line-height: 0.9;
}

@media (min-width: 1021px) {
    main section:nth-of-type(1) article:nth-of-type(1) h2 {
        margin: 3em;
        font-size: 3.8em;
        font-family: "IvyBold", sans-serif;
        margin-top: 0.8em;
        order: 1;
        line-height: 0.9;
    }

}
main section:nth-of-type(1) {
    margin: 0;
    padding: 0;
}

main section:nth-of-type(1) article:nth-of-type(1)  {
   display: flex;
  
}

main section:nth-of-type(1) article:nth-of-type(2) h3 {
    font-size: 1.3rem;
    color: var(--color-text);
    margin-left: 1.5em;  
    font-family: "IvyBold", sans-serif;
    
    
}

@media (min-width: 1021px) {
    main section:nth-of-type(1) article:nth-of-type(2) h3 {
        font-size: 1.3rem;
        color: var(--color-text);
        margin-left: 3em;  
        font-family: "IvyBold", sans-serif;
        top: 4.8em;
        position: relative;
        border-bottom: solid 1.2px grey; 
        padding-bottom: 5em;
    }
    

}


.button {
    margin: 10px;
    text-decoration: none;
    padding: 9px 23px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    font-family: "IvyBold", sans-serif;
}

#booking-options {
    margin: 1.7em;
   
}

@media (min-width: 1021px) {
    main > section:nth-of-type(1) article:nth-of-type(3) {
        left: 55em;
        position: relative;
        bottom: 5em;
    }

   

}



main .button:hover {
    background-color: #1a242e;
}



main section:nth-of-type(2) li:nth-of-type(1) {
    border-top: solid 1.1px grey; 
}


main section:nth-of-type(2) h2{
    font-size: 1.8rem;
    color: var(--color-text);
    margin-left: 1.2em;  
    margin-right: 1.2em;  
    font-family: "IvyBold", sans-serif;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 2.2em;
}


@media (min-width: 1020px) {

main section:nth-of-type(2) ul {
   display: grid;
   grid-template-columns: 1fr 1fr; /* Vier blokken in twee kolommen */
   gap: 30px;
   margin-left: 30em;
   position: relative;
   bottom: 3em;
  
}

main section:nth-of-type(2) ul li{
   font-size: 2em;
    width: 60%;
 }



main section:nth-of-type(2) h2{
    font-size: 4rem;
    color: var(--color-text);    
    font-family: "IvyBold", sans-serif;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 2.2em;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Linkse sectie 2x zo breed als de rechter */
    gap: 20px; /* Afstand tussen secties */
    position: relative;
    left: 7.2em;
    width: 80%;
}

}

main section:nth-of-type(2) li h3 {
    font-family: "IvyBold", sans-serif;
    font-size: 1.3rem;
}

main section:nth-of-type(2) li p {
    font-family: "Ivy", sans-serif;
    font-size: 1.1rem;
    color: var(--line-color);
    line-height: 110%;
}

main section:nth-of-type(2) li {
    border-top: solid 1.1px grey; 
    margin-right: 1.2em;
}

li {
    list-style-type: none;
}

/* Flex Service */
main section:nth-of-type(3) {
    background-color: var(--color-vak);
    color: var(--color-text-vak);
    
}

main > section:nth-of-type(3) article:first-of-type h4 {
    font-size: 2em;
    padding: 0.9em;
    display: flex;
    margin-bottom: 1rem; 
    line-height: 0.8; 
}

main > section:nth-of-type(3) article:first-of-type p {
    font-size: 1.1em;
    padding-left: 1.6em;
    font-family: "Ivy", sans-serif;
    margin-top: 0;     
    line-height: 0.8; 
}


main > section:nth-of-type(3) article:first-of-type button{
    margin: 2em;
    text-decoration: none;
    padding: 8px 23px;
    background-color: var(--color-vak);
    color: white;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: "Ivy";
    border-color: white;

}

main section:nth-of-type(3) article:nth-of-type(2) {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    line-height: 0.9em;
   
}

main section:nth-of-type(3) article:nth-of-type(2) h5 {
    font-size: 2em;
    padding: 1em ;
    font-family: "IvyBold", sans-serif;
    position: relative; 
    z-index: 2; 
    top: 2em;
    
}

main section:nth-of-type(3) article:nth-of-type(2) p {
    font-size: 1.1em;
    padding-left: 2em;
    font-family: "Ivy", sans-serif;
    z-index: 1; 
    line-height: 1.5;
    margin-top: 0;
}

main section:nth-of-type(3) article:nth-of-type(2) img {
    width: 100%; 
    height: auto; 
    position: absolute; 
    z-index: 0;
}

main section:nth-of-type(3) article:nth-of-type(3) img {
    width: 100%; 
    height: auto; 
    

    position: relative; 
    z-index: 0;
}



main section:nth-of-type(3) article:nth-of-type(3) p {
    font-size: 1.1em;
    padding-left: 2em;
    font-family: "Ivy", sans-serif;
    z-index: 9999; 
    position: relative;
    top: 14em;

}   
 

main section:nth-of-type(3) article:nth-of-type(3) h5 {
    font-size: 2em;
    padding: 1em ;
    font-family: "IvyBold", sans-serif;
    position: relative; 
    z-index: 2; 
    top: 10em;
    
}

@media (min-width: 1021px) {
    main > section:nth-of-type(3) article:first-of-type {
      padding: 4em;
      z-index: 9999;
    }

    main > section:nth-of-type(3) article:first-of-type p {
        margin-top: 4em;
    }

    main > section:nth-of-type(3) article:nth-of-type(3) > img{
        width: 100%;
        height: 500px;
        margin-top: 5em;

    }

    main > section:nth-of-type(3) article:nth-of-type(2) > img{
       width: 70%;
        height: 70vh;
        transform: scale(1.9);
        margin-top: 15em;
        

    }
}


/* flight manager */

main > section:nth-of-type(4) img {
    width: 50%;
    order: -1; 
    height: 10%;
    transform: scale(1);
    margin-left: 10em;
    margin-top: 9em;
}
 
main > section:nth-of-type(4) h2{
    margin: 0.9em;
    font-family: "IvyBold", sans-serif;
    font-size: 2em;
}

main > section:nth-of-type(4) p{
    margin: 1.3em;
    font-family: "Ivy", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
}


main > section:nth-of-type(4) {
    background-color: var(--color-vak);
    color: white;
    display: flex;
    flex-direction: column;
}

  @media (min-width: 1021px) {
    .row {
        flex-direction: column;
        display: flex;
        margin-left: 10em;
        line-height: 10em;
     
       
    }

    main > section:nth-of-type(4) {
        display: grid; 
        grid-template-columns: 1fr 2fr;    
        padding: 11em;  
    }

    main > section:nth-of-type(4) img {
        width: 100%; 
        height: 90%;
        transform: scale(2);
        margin-left: 1em;
        margin-top: 1em;
        top: 2em;
      
    }

    main > section:nth-of-type(4) p  {
      font-size: 1.2em;
    }

    main > section:nth-of-type(4) h2 {
        font-size: 3em;
    }



    } 

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main > section:nth-of-type(5) li > img {
 width: 100%;
 
}  

/* foto cloud */
main > section:nth-of-type(6) > img{
 width: 100%;
  
}

@media (max-width: 1020px) {
    main > section:nth-of-type(6) > img{
        width: 100%;
        transform: scale(1.5);
        z-index: -1000;
       }

       main > section:nth-of-type(6) > a {
  
        font-family: "IvyBold", sans-serif;
        color: var(--color-text);
        text-decoration: none;
        font-size: 7.5em;
        position: absolute;
        /* inset: 0;  */
        top: 3em;
      
    }

    
}

main > section:nth-of-type(6) {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
   
} 

main > section:nth-of-type(6) > a {
  
    font-family: "IvyBold", sans-serif;
    color: var(--color-text);
    text-decoration: none;
    font-size: 3em;
    position: absolute;
    /* inset: 0;  */
    bottom: 0;
}

main > section:nth-of-type(6) > h3 {
    visibility: hidden;
}

main section:nth-of-type(6) ul img {
    width: 100%;
    height: 100%;
   }


@media (min-width: 1020px) {

    main > section:nth-of-type(6) > a {
  
        font-family: "IvyBold", sans-serif;
        color: black;
        text-decoration: none;
        font-size: 7.5em;
        position: absolute;
        /* inset: 0;  */
        top: 1.5em;
        bottom: 0;
    }

    main > section:nth-of-type(6) > h3 {
        visibility: visible;
        font-family: "Ivy", sans-serif;
        color: grey;
        text-decoration: none;
        font-size: 1.5em;
        position: absolute;
        /* inset: 0;  */
        top: 5.2em;
        bottom: 0;
        
        
    } 
}

main > section:nth-of-type(6) > a:hover {
    text-decoration: underline;
    transition: 1s;

}


/* footer */

footer {
    background-color: black;
    color: white;
    padding: 1.5em;
  
}

footer section:nth-of-type(3) {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap:1em; 
   flex-wrap: wrap;
    
}

footer section:nth-of-type(1) h2 > img {
  width: 8em;
  padding-top: 1rem;
}


footer section:nth-of-type(2) h3, h4 {
    width: 8em;
    padding-top: 1rem;
    font-family: "IvyBold", sans-serif;
}
  
footer section:nth-of-type(2) ul {
    display: flex;
    gap: 1rem;
    
}

footer section:nth-of-type(2) ul img {
    width: 40%;
    height: 90%;
}
@media (min-width: 1020px) {
    footer section:nth-of-type(2) ul img {
        width: 16%;
        height: 90%;
    }
}

footer section:nth-of-type(3) article {
    margin-bottom: 1rem;
    font-size: 1.5em;
    
}

footer section:nth-of-type(4) h5:first-of-type {
    font-size: 1rem;
    font-family: "Ivy", sans-serif;
}

footer section:nth-of-type(4) h5:last-of-type {
    font-size: 0.8rem;
    font-family: "Ivy", sans-serif;
    order: -1;
    color: grey;
}

footer section:nth-of-type(4) p {
    font-size: 0.8rem;
    font-family: "Ivy", sans-serif;
    order: -1;
    color: grey;
}

footer ul {
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    padding: 0;
    margin: 0; 
    order: 1;
    list-style: none;
    font-size: 0.7em;
}


footer section:nth-of-type(4) ul{
    font-size: 1.2em;
    line-height: 2em;
}

footer img {
    width: 5em;
    
}

 
footer li a {
    text-decoration: none;
    cursor: default;
    color: grey;
}

/**********************/
/* BASIS STYLES */
/**********************/
/*  scroll animatie */
@keyframes adjust-image {
    from {
        zoom: 1;
        translate: -50% -100% 0;
        /* Dit is een experimentele eigenschap die de zoom van het element instelt. Dit wordt echter niet breed ondersteund en wordt vaak genegeerd.
translate: -50% -100% 0;: Verplaatst het element:
Horizontaal (-50%): Verschuift het 50% naar links van zijn positie.
Verticaal (-100%): Verschuift het 100% omhoog van zijn positie.
Diepte (0): Geen verandering in de Z-richting (voor 3D-transformatie).
 */
    }
    70% {
        transform: translate(50%, -100%) scale(1.5);
        opacity: 0.10;
        /* translate(20%, -100%): Verplaatst het element:
Horizontaal (20%): Beweegt iets naar rechts.
Verticaal (-100%): Blijft op dezelfde hoogte.
scale(2.5): Vergroot het element tot 1,5 keer zijn originele grootte.
opacity: 0.10: Maakt het bijna transparant (10% zichtbaarheid). */
    }
    to {
        translate: -50% -60% 0;
        scale: 3.5;
        opacity: 0;
    }
}


header > img { 
    view-timeline: --header-vtl;
}




/* foto slide */
main section:nth-of-type(5) {
    overflow: hidden; /* Verberg inhoud buiten het zichtbare deel */
    width: 100%;
}

main section:nth-of-type(5) ul {
    display: flex; /* Zet de slides naast elkaar */
    list-style: none;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease; /* Smooth overgang bij sliden */
}

main section:nth-of-type(5) li {
    min-width: 100%; /* Elke slide neemt 100% van de breedte in */
}

main section:nth-of-type(5) li img {
    width: 100%;
    height: auto;
}

main section:nth-of-type(5) > button {
    top: 50%;
    transform: translateX(1500%);
    color: black;
    border: none;
    cursor: pointer;
    padding: 0.9em;
    z-index: 10000;
    background: none;
}




/* ACHTERGROND INDEX */

/**********************/
/* BASIS STYLES */
/**********************/
/*  scroll animatie */

@media (max-width: 1020px) {
@keyframes adjust-image {
    from {
        zoom: 1;
        translate: -50% -100% 0;
        /* Dit is een experimentele eigenschap die de zoom van het element instelt. Dit wordt echter niet breed ondersteund en wordt vaak genegeerd.
translate: -50% -100% 0;: Verplaatst het element:
Horizontaal (-50%): Verschuift het 50% naar links van zijn positie.
Verticaal (-100%): Verschuift het 100% omhoog van zijn positie.
Diepte (0): Geen verandering in de Z-richting (voor 3D-transformatie).
 */
    }
    70% {
        transform: translate(50%, -100%) scale(1.5);
        opacity: 0.10;
        /* translate(20%, -100%): Verplaatst het element:
Horizontaal (20%): Beweegt iets naar rechts.
Verticaal (-100%): Blijft op dezelfde hoogte.
scale(2.5): Vergroot het element tot 1,5 keer zijn originele grootte.
opacity: 0.10: Maakt het bijna transparant (10% zichtbaarheid). */
    }
    to {
        translate: -50% -60% 0;
        scale: 3.5;
        opacity: 0;
    }
}


header > img { 
    view-timeline: --header-vtl;
}

header {
    display: flex;
    justify-content: space-between;
   
}
header > img {
    position: fixed;
    top: 40%;
    left: 50%;
    animation: adjust-image linear both;
    animation-timeline: --header-vtl;
    animation-range: exit;
    z-index: -1;
    height: 60%;
}
header h1 {
    padding-top: min(20rem, 60vw);
}

header h1 img {
    position: absolute;
    top: 0.2em;
    left: 0.6em;
    width: 2.2em;
    height: 2.2em;
}



}





